<h1> Basketball Players Index </h1>



<% @players.each do |player| %>
  <h2> <%= player.name %> </h2>
  <h3> <%= player.injured %> </h3>
  <h3> <%= player.jersey_number %> </h3>
  <%= link_to "Update Player", "/basketball_players/#{player.id}/edit" %>
  <%= link_to "Delete Player", "/basketball_players/#{player.id}", method: :delete%>
<% end %>
