<h1> <%= @team.name %> Roster </h1>

<%= link_to "Create Player", "/basketball_teams/#{@team.id}/players/new"%>
<%= link_to "Sort Players Alphabetically", "/basketball_teams/#{@team.id}/players?sort=asc"%>


<% @players.each do |player| %>
  <h2> <%= player.name %> </h2>
  <h3> <%= player.injured %> </h3>
  <h3> <%= player.jersey_number %> </h3>
<% end %>
