<h1> <%= @team.name %> </h1>

<%= link_to "#{@team.name} Players", "/basketball_teams/#{@team.id}/players"%>

<h3> Winning Record: <%= @team.winning_record %></h3>
<h3> Titles: <%= @team.titles %></h3>
<h3> Number of Players: <%= @team.number_of_players %></h3>
