<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsTeams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h3><%= link_to "Football Teams", "/football_teams" %></h3><h3><%= link_to "Football Players", "/football_players" %></h3> <h3><%= link_to "Basketball Teams", "/basketball_teams" %></h3> <h3><%= link_to "Basketball Players", "/basketball_players" %></h3>
    <%= yield %>
  </body>
</html>
